$font-stack: Georgia, serif;
$primary-color: #95b8c8;
$secondary-color: #4a566c;
$tertiary-color: #EDEDED;
$radius: 4px;
$text-size: 18px;

@mixin accent() {
  padding: 1%;
  border-radius: $radius;
  color: $tertiary-color;
}

body {
  margin: 0;
  background-color: $secondary-color;
  font: $text-size $font-stack;
  display: flex;
}

h1 {
  top: 15%;
  left: 30%;
  font-size: 25px;
  color: $primary-color;
  position: absolute;
}

p {
  top: 3%;
  left: 30%;
  font-size: $text-size;
  color: $primary-color;
  position: absolute;
}

label {
  color: $primary-color;
  font-weight: bold;
}

button {
  @include accent;
  width: 30%;
  top: 70%;
  left: 35%;
  margin: 0;
  border: 1px solid $primary-color;
  background-color: $primary-color;
  position: absolute;
}

input {
  @include accent;
  width: 40%;
  left: 35%;
  margin-top: 8%;
  margin-left: 5%;
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: $tertiary-color;
  display: inline-block;
}

.input-box {
  box-sizing: content-box;
  width: 40%;
  height: 40%;
  top: 25%;
  left: 30%;
  padding: 2%;
  border: 2px double $primary-color;
  border-radius: $radius;
  background-color: $tertiary-color;
  position: absolute;
}