@mixin general($z-ind: 0) {
  z-index: $z-ind;
  height: 400px;
  width: 400px;
  position: fixed;
  left: 5px;
  top: 5px;
}

#game {
  @include general;
}
#board-layer {
  @include general($z-ind: 1);
}
#game-layer {
  @include general($z-ind: 2);
}
